@import './global.less';

body {
    img {
        width: 100%;
    }

    .box {
        width: 100%;
        color: #fff;
        position: relative;

        .back_top {
            display: none;
            cursor: pointer;
            position: fixed;
            right: 20px;
            top: 300px;

            .icon-fanhuidingbu3 {
                font-size: 50px;

            }

        }


        .con {

            .hulk,
            .thor,
            .widow {
                display: none;
            }
        }
    }
}