body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0e100f;
}
body::-webkit-scrollbar {
  display: none;
}
body img {
  width: 100%;
}
body .box {
  width: 100%;
  color: #fff;
}
body .box .back_top {
  cursor: pointer;
  position: absolute;
  right: 20px;
}
body .box .back_top .icon-fanhuidingbu3 {
  font-size: 50px;
}
body .box .nav {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 1.5%;
  font-weight: bolder;
}
body .box .nav > li {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
body .box .nav > li img {
  width: 50%;
}
body .box .nav > li:hover {
  cursor: pointer;
  font-size: 25px;
}
body .box .nav .nav_two {
  display: none;
  color: lightgray;
  font-size: 15px;
}
body .box .nav .nav_two li {
  height: 50px;
}
body .box .nav .nav_two li:hover {
  font-size: 20px;
}
