body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0e100f;
}
body::-webkit-scrollbar {
  display: none;
}
body img {
  width: 100%;
}
body .box {
  width: 100%;
  color: #fff;
}
body .box .nav {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 1.5%;
}
body .box .nav li {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
body .box .nav li img {
  width: 50%;
}
body .box .nav li:hover {
  cursor: pointer;
  font-size: 25px;
}
